In [133]:
import os
import pandas as pd

In [134]:
schools_file=os.path.join('..','..','..','RU-HOU-DATA-PT-09-2019-U-C','Homework','04-Pandas','Instructions','PyCitySchools','Resources','schools_complete.csv')
students_file=os.path.join('..','..','..','RU-HOU-DATA-PT-09-2019-U-C','Homework','04-Pandas','Instructions','PyCitySchools','Resources','students_complete.csv')

In [135]:
file_schools=pd.read_csv(schools_file)
schools_df=pd.DataFrame(pd.read_csv(schools_file))

In [136]:
file_students=pd.read_csv(students_file)
students_df=pd.DataFrame(pd.read_csv(students_file))

In [137]:
#merge the two files
combined_df=pd.merge(students_df, schools_df, how='left', on=['school_name', 'school_name'])

In [138]:
#District Summary:  This begins the first section of the homework

#calculate the number of shools

count=combined_df['school_name'].value_counts()
tot_schools=len(count)

#calculate the number of students
tot_students=combined_df['Student ID'].count()

# calculate the total budget
# revist this to figure out how to calculate using combined_df

tot_budget=schools_df['budget'].sum()
tot_budget

24649428

In [149]:
#calcualte the average math and reading score 
avg_scores=combined_df[['math_score','reading_score']].mean(axis=0)
avg_scores

#create a dataframe from the avg_scores series
score_df=pd.DataFrame({'index': avg_scores.index, 'Avg Score':  avg_scores.values })

#transpose the dataframe and make the first row the header
score_df=score_df.transpose()
new_header=score_df.iloc[0]
score_df=score_df[1:]
score_df.columns=new_header


#calculate the average of the math and reading scores and add to the dataframe as Overall Score
score_df['% Overall Passing Rate']=(score_df['math_score'] + score_df['reading_score'])/2

In [154]:
#calculate the % passing math and % passing reading

perc_passmath=100*(len(combined_df[combined_df['math_score'] >= 70]))/len(combined_df)


perc_passread=100*(len(combined_df[combined_df['reading_score'] >= 70]))/len(combined_df)

In [160]:
#District Summary Output:  This concluded the first part of the homework and display the results

#create a list of the additional metrics that were calculated

metrics_list=[tot_schools, tot_students, tot_budget, perc_passmath, perc_passread]

#add the additional metrics that were calculated to the score_df

score_df['Total Schools'], score_df['Total Students'], score_df['Total Budget'],score_df['% Passing Math'],score_df['% Passing Reading'] = metrics_list

#create a cleaned up dataframe and display the results

clean_df=score_df[['Total Schools','Total Students','Total Budget', 'math_score', 'reading_score', '% Passing Math','% Passing Reading','% Overall Passing Rate']]
clean_df=clean_df.reset_index(drop=True)
clean_df=clean_df.rename(columns={'math_score': 'Average Math Score', 'reading_score': 'Average Reading Score'})
clean_df['Total Students']=clean_df['Total Students'].map("{:,}".format)
clean_df['Total Budget']=clean_df['Total Budget'].map("${:,}".format)
clean_df['Average Math Score']=clean_df['Average Math Score'].map("{:.3f}".format)
clean_df['Average Reading Score']=clean_df['Average Reading Score'].map("{:.3f}".format)
clean_df['% Passing Math']=clean_df['% Passing Math'].map("{:.3f}".format)
clean_df['% Passing Reading']=clean_df['% Passing Reading'].map("{:.3f}".format)
clean_df['% Overall Passing Rate']=clean_df['% Overall Passing Rate'].map("{:.3f}".format)
clean_df.head()

index,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.985,81.878,74.981,85.805,80.432

In [ ]:
#School Summary:  This begins the second part of the homework

combined_df.head()

In [132]:
school_group_df=combined_df.groupby('school_name')
school_info=school_group_df['type'].value_counts()


tot_students=school_group_df['student_name'].count()

tot_budget=school_group_df['budget'].mean()

budget_perstudent=tot_budget/tot_students

avg_math=school_group_df['math_score'].mean()

avg_reading=school_group_df['reading_score'].mean()

len(school_group_df)

15

In [128]:
school_summ_df=pd.DataFrame({'School': tot_students.index, 'Total Students':  tot_students.values, 
                             'Total Budget': tot_budget.values, 'Per Student Budget': budget_perstudent.values,
                             'Average Math Score':  avg_math.values, 'Average Reading Score' : avg_reading.values})
school_summ_df = school_summ_df.set_index('School')
school_summ_df

,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score
School,,,,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963
Cabrera High School,1858,1081356,582.0,83.061895,83.975780
Figueroa High School,2949,1884411,639.0,76.711767,81.158020
Ford High School,2739,1763916,644.0,77.102592,80.746258
Griffin High School,1468,917500,625.0,83.351499,83.816757
Hernandez High School,4635,3022020,652.0,77.289752,80.934412
Holden High School,427,248087,581.0,83.803279,83.814988
Huang High School,2917,1910635,655.0,76.629414,81.182722
Johnson High School,4761,3094650,650.0,77.072464,80.966394
Pena High School,962,585858,609.0,83.839917,84.044699
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686
Shelton High School,1761,1056600,600.0,83.359455,83.725724
Thomas High School,1635,1043130,638.0,83.418349,83.848930
Wilson High School,2283,1319574,578.0,83.274201,83.989488
Wright High School,1800,1049400,583.0,83.682222,83.955000

In [ ]:

schoolgrade_df=combined_df.groupby(['school_name', 'grade'])

mathbygrade_df=schoolgrade_df['math_score'].mean()

mathbygrade_df=mathbygrade_df.unstack()
mathbygrade_df=mathbygrade_df[['9th', '10th', '11th','12th']]

mathbygrade_df

In [ ]:

readingbygrade_df=schoolgrade_df['reading_score'].mean()

readingbygrade_df=readingbygrade_df.unstack()
readingbygrade_df=readingbygrade_df[['9th', '10th', '11th','12th']]

readingbygrade_df

In [125]:
spending_bins=[0, 585, 615, 645, 675]
group_names=['<$585','$585-615','$615-645','$645-675']

school_summ_df['Spending Ranges (Per Student)'] = pd.cut(school_summ_df['Per Student Budget'], spending_bins, labels=group_names)
school_summ_df

spendgroup_df=school_summ_df.groupby("Spending Ranges (Per Student)")

spendgroup_df.mean()

,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score
Spending Ranges (Per Student),,,,,
<$585,1592.000000,9.246042e+05,581.000000,83.455399,83.933814
$585-615,1361.500000,8.212290e+05,604.500000,83.599686,83.885211
$615-645,2961.000000,1.880208e+06,635.166667,79.079225,81.891436
$645-675,4104.333333,2.675768e+06,652.333333,76.997210,81.027843